Checks:             '-*,readability-identifier-naming'
WarningsAsErrors:   '*'
HeaderFilterRegex:  '.*'
CheckOptions:
  - key:   readability-identifier-naming.PrivateMemberPrefix
    value: m_

  - key:   readability-identifier-naming.VariableCase
    value: lower_case
  - key:   readability-identifier-naming.FunctionCase
    value: lower_case
  - key:   readability-identifier-naming.ParameterCase
    value: lower_case
  - key:   readability-identifier-naming.ConstantCase
    value: lower_case
  - key:   readability-identifier-naming.ClassCase
    value: lower_case
  - key:   readability-identifier-naming.MemberCase
    value: lower_case

  - key:   readability-identifier-naming.GlobalConstantCase
    value: UPPER_CASE
  - key:   readability-identifier-naming.EnumConstantCase
    value: UPPER_CASE
  - key:   readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE
  - key:   readability-identifier-naming.TemplateParameterCase
    value: UPPER_CASE

  - key:   readability-identifier-naming.EnumConstantIgnoredRegexp
    value: '^(KEYSYM_.)$'
  - key:   readability-identifier-naming.GlobalConstantIgnoredRegexp
    value: '^([KMGT]iB|[kMGT]*Hz)$'
  - key:   readability-identifier-naming.MacroDefinitionIgnoredRegexp
    value: '^(SYSTEMC_VERSION_.*|log_[debug|info|warn|error]+)$'