name: nightly

on:
  schedule:
    - cron: '0 1 * * *'

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ${{matrix.os}}

    strategy:
      fail-fast: false
      matrix:
        systemc: [2.3.0a, 2.3.1a, 2.3.2, 2.3.3]
        os: [ubuntu-22.04]
        include:
          - systemc: 2.3.3
            os: self-hosted-ubuntu-22.04-arm64

    name: SystemC ${{matrix.systemc}} (${{matrix.os}})

    env:
      SYSTEMC_HOME: ${{github.workspace}}/systemc/${{matrix.systemc}}

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: 'recursive'

    - name: Setup Dependencies
      if: contains(matrix.os, 'self-hosted') == false
      run: |
        sudo apt-get update -y -qq
        sudo apt-get install libelf-dev libsdl2-dev liblua5.3-dev libvncserver-dev libslirp-dev ninja-build

    - name: Cache SystemC
      id: cache-systemc
      uses: actions/cache@v4
      with:
        path: ${{github.workspace}}/systemc
        key: cache-systemc-${{matrix.systemc}}-${{matrix.os}}

    - name: Download SystemC
      if: steps.cache-systemc.outputs.cache-hit != 'true'
      run: ./utils/setup-systemc -p ${{github.workspace}} -v ${{matrix.systemc}}

    - name: Configure
      run: cmake -G Ninja -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DVCML_BUILD_TESTS=ON

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}} -j $(nproc)

    - name: Test
      working-directory: ${{github.workspace}}/build
      run: ctest -C ${{env.BUILD_TYPE}} --output-on-failure

