name: style

on:
  push:
    branches:
      - 'main'
      - 'dev**'

jobs:
  style:
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: 'recursive'

    - name: Check code style
      run: ./utils/format.py -n

