name: windows

on:
  push:
    branches:
      - 'main'
      - 'dev**'

jobs:
  windows:
    name: windows
    runs-on: ${{matrix.os}}

    strategy:
      fail-fast: false
      matrix:
        os: [windows-2022, windows-2025]
        cfg: [Release]

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: 'recursive'

    - name: Cache vcpkg dependencies
      uses: actions/cache@v4
      with:
        path: |
          C:/vcpkg/installed
          C:/vcpkg/downloads
        key: vcml-vcpkg-${{ matrix.os }}

    - name: Install dependencies
      run: vcpkg install sdl2 lua libusb libslirp

    - name: Configure
      run: cmake -B BUILD -DCMAKE_BUILD_TYPE=${{matrix.cfg}} -DVCML_BUILD_TESTS=ON -DCMAKE_TOOLCHAIN_FILE="$env:VCPKG_INSTALLATION_ROOT/scripts/buildsystems/vcpkg.cmake"

    - name: Build
      run: cmake --build BUILD --config ${{matrix.cfg}} --parallel -- /bl

    - name: Test
      working-directory: BUILD
      run: ctest -C ${{matrix.cfg}} --output-on-failure

    - name: Upload Logs
      uses: actions/upload-artifact@v4
      if: '!cancelled()'
      with:
        name: ${{github.event.repository.name}}-logs-${{matrix.os}}
        path: |
            BUILD/.ninja_log
            BUILD/CMakeCache.txt
            BUILD/msbuild.binlog
            BUILD/Testing/Temporary/LastTest.log
        include-hidden-files: true
        retention-days: 7
